.templatemo-bg-gray>div {overflow:hidden;width:100%;height:100%;}
#loginBox {}
#h1title {color:#0061a5;font-weight:bold;}
#h1title a {font-weight:bold;color:#005ddc;}
#h1title a:hover {text-decoration:none;color:#005ddc;}
#h1title span {color:#005ddc;font-size:24px;}
#h1title span b {color:#ddd;font-size:18px;}
#dosubmit {width:100%;background:#236de6;border:1px solid #236de6;}
#form {border:1px solid #0061a5;}
#form:hover {border:1px solid #4169E1;}
.input-group {height:40px;line-height:40px;}
.input-group input.form-control {height:40px;line-height:40px;padding:5px;}
.input-group-addon {color:#666;}